* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  color: white;
  background-color: black;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
  font-size: 18px;
  font-weight: 700;
  margin: 50px;
}

nav ul li a:hover {
  color: purple;
}

#hero-banner img {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.project-gallery a:first-child img {
  width: 600px;
  height: auto;
  border-radius: 10px;
}

.project-gallery a:not(:first-child) img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

#projects {
  text-align: center;
  margin-top: 20px;
}

.project-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

#placeholders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#placeholders img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: 10px;
}

.project-gallery {
  position: relative;
}

#contact {
  text-align: center;
  margin: 20px 0;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.contact-info a {
  margin-right: 10px;
}

.contact-info p {
  margin: 0 10px;
}
