* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: white;
  background-color: black;
  text-align: center;
  overflow-x: hidden;
  margin: 0 20px;
  max-width: 100%;
}

@media (min-width: 1200px) {
  body {
    margin: 0 auto;
    max-width: 1200px;
  }
}

header,
#contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 0;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.4s;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

nav ul li a:hover {
  color: purple;
}

#hero-banner img,
.project-gallery a:first-child img,
.project-gallery a:not(:first-child) img,
.project-image,
#placeholders img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

#about-me p {
  margin: 10px 0;
}

#projects,
#contact,
footer {
  text-align: center;
  padding-top: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.project-gallery a:first-child img,
.project-gallery a:not(:first-child) img {
  height: auto;
  border-radius: 10px;
}

.project-gallery a:first-child img {
  width: 600px;
}

.project-gallery a:not(:first-child) img {
  width: 200px;
}

.project h2 {
  text-align: center;
}

#projects,
#contact {
  text-align: center;
  margin-top: 20px;
}

#placeholders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-gallery {
  position: relative;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.contact-info a,
contact-info p {
  margin: 0 10px;
}
